<h1>Welcome! This is a contacts application...</h1>
<p>Please create an account or use the demo account.</p>
<p>In this application you can keep track of a contact's name, email, phone number, where they are located, what the weather is like where they are located, if they have a specific type of humor, what types of jokes they like, and their social media accounts.</p>

<br>
      <h4> Demo Account: 
          <br/>
          Email: demo@gmail.com || Password: password
      </h4>