<h1>About me:</h1>

<p>
  Hi, my name is Leon Shimizu and I'm a Software Engineer from the island of <a href="https://en.wikipedia.org/wiki/Guam">Guam</a>. I moved with my family (my daughter and girlfriend) from Guam to finish school and for the opportunities out here in the mainland. 
</p>
<p>
  This project was made with Ruby on Rails, HTML, and Bootsrap.
</p>

<h4>Contact Me:</h4>
<p>
  <ul>
    <li>Email: Lmshimizu@gmail.com</li>
    <li>Phone: (702)742-1168</li>
    <li>LinkedIn: Leon Shimizu - https://www.linkedin.com/in/leon-shimizu/</li>
    <li>GitHub: Leon Shimizu - https://github.com/leonshimizu</li>
  </ul>
</p>